* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main{
    height: 100%;    
    width: 100%;
    background-color: black;
    padding: 15px 25px;
}

#card{
    height: 45%;
    width: 20%;
    position: relative;
    overflow: hidden;
}

#bottom{
    height: 80px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: -80px;
    background: linear-gradient(transparent, black);
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    color: white;
    transition: all ease 200ms;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card:hover #bottom{
    bottom: 0;
}